/*debug
div{
    border-style: solid;
    border-color: red;
    border-width:1px;
    border-radius:6px;
}*/

:root{
    font-size: 6px;
}

.theme-light{
    --color-primary: #6495ed;
    --color-secondary: #de2214;
    --color-thirdly: yellow;
    --color-base: white;
    --color-base-opposite: black;
    --color-highlight: #444444;
}

.theme-dark{
    --color-primary: #6495ed;
    --color-secondary: #de2214;
    --color-thirdly: yellow;
    --color-base: black;
    --color-base-opposite: #888888;
    --color-highlight: #AAAAAA;
}

body{
    min-width: 120rem;
    margin: 0;
}

.header-main{
    display: flex;
    align-items: flex-end;
    margin-bottom: 4rem;
    background: linear-gradient(0deg, var(--color-primary), black);
}

.logo{
    font-size: 7rem;
    color: var(--color-thirdly);
    padding: 30rem 2rem 2rem 2rem;
}

.logo-comment{
    font-size: 2.3rem;
    font-family: consolas, sans-serif;
    color: var(--color-base);
    padding: 2rem;
}

.container-main{
    min-width: 120rem;
    margin: 0 auto;
}

.game-main{
    width: 120rem;
    margin: 0 auto;
}

.card{
    background-color: var(--color-base);
    width:1rem;
    height:3rem;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--color-primary);
    border-width: 2px;
    padding:1rem 5rem 8rem 1rem;
    margin-right: -4rem;
    margin-bottom: -6rem;
    user-select: none;
    flex:0 0 auto;
}

.card-selected{
    background-color:#444444;
    color:var(--color-base);
    margin-bottom: -4rem;
}

.card:hover{
    background-color: var(--color-highlight);
    color:var(--color-base);
}

.card:active{
    background-color:var(--color-base-opposite);
    color:var(--color-base);
}

.player{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-end;
    border-style: solid;
    border-color: var(--color-primary);
    border-width:0.4rem;
    border-radius:1rem;
    margin: auto;
    text-align: center;
    background-color:var(--color-base);
    padding-right: 4rem;
}

.player-waiting{
    border-color: var(--color-secondary);
}

.player-waiting .player-info{
    background-color:var(--color-secondary);
    color:var(--color-base);
    margin-left: 4rem;
}

.player-top, .player-bottom{
    width:100%;
    max-width: 60rem;
    min-height: 15vh;
    margin: auto;
    padding-bottom: 6rem;
}

.player-mid{
    width:100%;
    min-height: 15vh;
    padding-bottom: 6rem;
}

.player-left,.player-right{
    width:45%;
    min-width: 50rem;
    min-height: 15vh;
}

.player-left{
    float: left;
}

.player-right{
    float: right;
}

.player-counter{
    width:100%;
    min-height: 15vh;
    margin: auto;
    padding-bottom: 3rem;
}

.player-counter .player{
    width: 120rem;
}

.player-counter .player .card:nth-child(28n)::after{
    width: 1rem;
    height: 1rem;
    flex:100 0 auto;
}

.player-info{
    float: left;
    clear: left;
    margin-top: 7rem;
    width:100%;
    text-align: center;
}

.div-btn{
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.btn{
    flex:auto;
    width: 20rem;
    min-width: 14rem;
    padding: 1rem;
    cursor: pointer;
    border:0.4rem solid var(--color-primary);
    border-radius: 0.5rem;
    text-align: center;
}

.btn-play{
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: 1rem;
    border-width: 0.4rem;
    border-style: solid;
    background-color: var(--color-base);
}

.container-btn-options{
    width: 80%;
    margin:auto;
}

.invisible{
    display: none !important;
}

.container-loading-box{
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.904);
}

.icon-loading{
    flex:none;
    background-image: url(/static/loading.svg);
    background-size: 6rem 6rem;
    width: 6rem;
    height: 6rem;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: rotate(540deg);
    }
    100%{
        transform: rotate(720deg);
    }
}

.icon-spin{
    animation: spin 1.5s infinite linear;
}

.container-options{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:#295871e6;
}

.panel-quick-play{
    width: 60%;
    margin: auto;
    text-align: center;
}

.panel-options{
    background-color:var(--color-base);
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 60rem;
    height:40rem;
    margin: auto;
    border-width: 0.5rem;
    border-style: solid;
    border-radius:2rem;
    padding:10rem;
}

.to-top-right{
    position: absolute;
    right: 2rem;
    top:2rem;
}

.btn-base{
    display: inline-block;
    width:4rem;
    height:2rem;
    transition:all 0.3s;
    cursor: pointer;
    user-select: none;
}

.btn-base:hover{
    transform: scale(1.2);
}
.btn-base:active{
    transform: scale(1.1);
}

.to-mid{
    position:absolute;
    left: 0;
    right: 0;
    margin:auto;
}

.icon-close{
    width:3rem;
    height:2px;
    border-style: solid;
    border-color: var(--color-base-opposite);
    border-radius:3px;
    border-width: 2px;
}

.option-item{
    font-size: 3rem;
    color: var(--color-secondary);
}

.option-info{
    padding: 1px;
}

table{
    width: 100%;
}